PORT=2010
FE_PORT=1010
CLIENT_KEY=Multichain_Mining
CLIENT_NAME=Multichain_Mining
JWT_SECRET=your_secret_key_here
API_TIMEOUT=600000
LOG_LEVEL=info

# RPC URLs
ETH_RPC_URL=https://eth.drpc.org
BNB_RPC_URL=https://bsc-dataseed.binance.org
POLYGON_RPC_URL=https://polygon-mainnet.infura.io/v3/
OPTIMISM_RPC_URL=https://optimism-mainnet.infura.io/v3/
ARBITRUM_RPC_URL=https://arbitrum-mainnet.infura.io/v3/
INFURA_API_KEY=

# Balance Checker Contract Addresses (per chain)
BALANCE_CHECKER_ETH=0xb1f8e55c7f64d203c1400b9d8555d050f94adf39
BALANCE_CHECKER_BNB=0x2352c63A83f9Fd126af8676146721Fa00924d7e4
BALANCE_CHECKER_POLYGON=0x2352c63A83f9Fd126af8676146721Fa00924d7e4
BALANCE_CHECKER_OPTIMISM=0xB1c568e9C3E6bdaf755A60c7418C269eb11524FC
